* {
    box-sizing: border-box;
}

/* for body */
body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* for container header */
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

/* header */
.header {
    background-color: #4899d0;
    height: 65px;
    width: 100%;
}

/* for logo */
.header-logo{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    line-height: 65px;
    float: left;
    letter-spacing: 2px;
}

/* tag a untuk menu di header */
.header-left a{
    float: left;
    padding:0 25px;
    color: white;   
    line-height: 65px;
    display:block;
}

.header-left a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* for daftar & login */
.header-right{
    float: right;
    margin-right: -25px;
}

/* for tag a di btn daftar & login */
.header-right a{
    padding:0 20px;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 65px;
    color: white;
    float:right;
    transition:all 0.5s;
}


.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Tidak menampilkan menu icon */
.menu-icon{
    display:none;
}